################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eximo/.vs/eximo/v16
/eximo/.vs/eximo/DesignTimeBuild
/eximo/.vs/slnx.sqlite
/eximo.iOS/obj
/eximo.Android/obj
