################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eximo/.vs/eximo/v16
/eximo/.vs/eximo/DesignTimeBuild
/eximo/.vs/slnx.sqlite
/eximo.iOS/obj
/eximo.Android/obj
/eximo/eximo/eximo.Android/obj/Debug/90
/eximo/eximo/eximo.iOS/obj/Debug/90

